
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.my-container1 {
    background: linear-gradient(rgb(20, 135, 203) 25%, rgb(31, 92, 192));
}
.row1{

    top:10rem;
    text-align: center;
}
.row2{
    min-height: 548px;
    max-height:600px;

}


.col12{
margin:4rem;
    padding:2rem;
    text-align: center;
    background: white;
    border-radius: 5%;
    max-width:25rem;
    height:22rem;
    left:2rem;
}
.bonjour{
    font-size: 30px;
    font-family: inherit,-apple-system,BlinkMacSystemFont,Roboto,Arial,sans-serif;
    font-style:italic;
}
.email, .mp{
    border-radius: 5%;
    margin:0.5rem;
}
.B1{
    color:white;
}
.bouton1{
    background:#343a40;
    width:12rem;
    height:3rem;
    border-radius: 5%;
    font-weight: bold;
    font-size:25px;
}
.bouton1:hover{
    background:#6c757d;
}