


.row2{

    max-height: 120%;
}
.col21{
    height: 500px;
    text-align: center;
    background: yellox;
}
.col21 .centre{
   display: block;
    color:white;
    position:relative;
    top:10rem;
    left:0.5rem;
}
.text{
   width : 70%;
    height:3rem;
}
.centre .icon-loupe{
    bottom:20%;
    left:15%;
}
.bouton1{
    background:#343a40;
    width:12rem;
    height:3rem;
    border-radius: 5%;
    font-weight: bold;
    font-size:25px;
}
.bouton1:hover{
    background:#6c757d;
}
.row3{
text-align:center;
height:10.3rem;
text-align: center;
    color:white;
}


.col31 {
max-height: 1.1rem;

padding:1.6rem;
    padding-top:1rem;
top:7.7rem;
background: #1A1920;
}