*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}
.my-container{
    background: linear-gradient(rgb(20, 135, 203) 25%, rgb(31, 92, 192));
}
body{
    background: linear-gradient(rgb(20, 135, 203) 25%, rgb(31, 92, 192));
    padding:0px;
    margin:0px;
}
.row1{
    background:#FFFFFF;
    height:3.5rem;
    text-align: center;
}
.col11{     /*logo-weakspot en haut et au centre */
    display:block;
    left:10%;
}
.col12{   /* logo en haut et droite */
    height:2.5rem;
    margin-top:3px;
    margin-left:0px;
    display:inline-block;
    text-align: center;
}
.row11{
    max-width: 200px;
}
.col111{
    padding:2px;
    margin-top:3px;
    margin-left:20px;
    margin-right:20px;
    max-width: 5px;
}
.col112-fluide{
    font-family: -apple-system,BlinkMacSystemFont,Roboto,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    color:#000000;
    font-size: 16px;
    text-align: left;
    margin-top:4px;
}

.col112-fluide em{
    color:#1879C8;
    font-size: 12.8px;
    margin-top:0px;

}