*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}

.container-31{
background:blue;
}
body{
    background:blue;
}
.row1{
    text-align: center;
}
.col1{
    text-align: center;
    font-size: 30px;
    background:blue;
    color:white;
}

