.col21{    margin: 1.2rem;text-align:center;}
.col21 h1{
    background:#B4E6F8;
    font-size:18px;
    margin:0rem;
    padding:1rem;
}
.vertical-menu {
    height: 400px;
    overflow-y: auto;
    background:#B4E6F8;
}
.vertical-menu a{
    background-color: #5679F5 ;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}
.vertical-menu a:hover {    background-color: #ccc;}
.vertical-menu a.active {color: white;}




.col22{
    margin: 1.2rem;text-align:left;
}

.container-32{
    padding:4rem;
    border:2px solid #92D4EC;
    margin:1rem;
    position:relative;
    bottom:1rem;
}

.col3221,.col3231,.col3241{
    font-size:50px;
    text-align: center;
    color:#92D4EC;
}
.col3211{
    color:white;
    text-align:center;
    font-size: 23px;
}
.col3222,.col3232,.col3242{
    color:white;
}