.image_weakspot{
    width: 150px;
    margin-top:10px;
    padding:0.2px;
}
.icon-user{    max-width: 40px;}

.icon-search{
    max-width:1.3rem;
}
.icon-points-attention{
    width:7rem;
}
.icon-email,.icon-maj-cms,.icon-settings{
    width:5rem;
}
