*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}

.my-container {
    background: linear-gradient(rgb(20, 135, 203) 25%, rgb(31, 92, 192));
}
body{
    background: linear-gradient(rgb(20, 135, 203) 25%, rgb(31, 92, 192));
}

.row1{ /*ligne 1 */
    background:#FFFFFF;
    height:4rem;
    text-align: center;
}
.col11{
max-width:170px;
}

/* elements du logo centre */
.col13{
    background:#FFFFFF;
text-align:center;
}
.saisie1{
    width: 40rem;

    border-top-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
    border:none;
    border:#FFFFFF;
    background:rgba(255,255,255,0.4);
    padding-top:25px;
    outline: none;
    border-bottom: 0.2px solid dimgrey;

}
/* elements du logo haut à droite */
.col12{   /* logo en haut et droite */
    max-width: 220px;
    height:3rem;
    padding:2px;
    margin-top:3px;
    margin-left:100px;
}
.row11{
    max-width: 200px;
}
.col111{
    padding:2px;
    margin-top:3px;
    margin-left:20px;
    margin-right:20px;
    max-width: 5px;
}
.col112-fluide{
    font-family: -apple-system,BlinkMacSystemFont,Roboto,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    text-align: left;
    margin-top:4px;
}

.col112-fluide em{
    font-size: 12.8px;
    margin-top:0px;

}