.row3{
    color:white;
    height:19rem;
    padding:2rem;
}
.col31{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    display:block;
    text-align:center;
    background:#005995 ;
    border-radius: 10px;
    max-width: 320px;
    max-height: 320px;
    color:blue;
}
.rep1:hover{
    color:yellow;
}


 .col32, .col33{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    display:block;
    text-align:center;
    background:#005995 ;
    border-radius: 10px;
    max-width: 320px;
    max-height: 320px;
}
.ligne1{
    font-size: 80px;
    font-weight: 300;
    line-height: 1;

}
.ligne2{
    ont-size: 26px;
    font-weight: 300;
    line-height: 1.2;
}
.ligne3{
    font-size: 18px;
    font-weight: 300;
    line-height: 1.1;
}
