.row5{
    text-align: center;
    height:10rem;

}
.row5 .bouton1{
    width:14rem;
    height:3rem;
    padding: 5px;
    margin:2rem;
    border-radius: 8px;
    color:navy;
    font-weight: bold;
    text-transform: uppercase;
}
.row5 .bouton2{
    width:14rem;
    height:3rem;
    padding: 5px;
    margin:2rem;
    border-radius: 8px;
    color:white;
    font-weight: bold;
    background:navy;
    border-color: navy;
    outline:none;
    text-transform: uppercase;
}