.row6{
height:34rem;
padding-top:0px;
padding-bottom:0px;

    background-image:
            linear-gradient(to right, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 68%, rgba(0, 0, 0, 0) 100%),
             url("../../../picture/weakspot-mesuer-empreinte-web.jpg") ;
}
.col61{
    top:16rem;
    left:10rem;
    color:white;

}
.col61 .para1{
    text-transform: uppercase;
    display: block;
    font-size: 64px;
    line-height: 0.9;
    font-weight: 700;
    letter-spacing: 0;
}
.col61 .para2{
    fmargin: 0;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1;
}
.col61 .para3{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.col61 .bouton1{
    display: inline-block;
    background: linear-gradient(to right, #1f5fc2 0%, #00bffe 100%);
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    border-radius: 5px;
    line-height: 1;
    padding: 12px 40px;
    border:none;
}